@charset "utf-8";
//变量
$topheight:100px;
$topwidth:120px;
$logo:url("../img/htc-logo.png") no-repeat center 48px;
$navWidth:873px;
$navColor:#a5cf4c;
$navliWidth:145px;
$font-size:12px;
$topRight:240px;
$greencolor:#A5CF4C;
$font-weight:600;
$spotcolor:#fff;
$spotcolor2:rgba(0,0,0,0.8);
$width:1329px;
$margin:10px;
$padding:40px 35px;
/*********************************common***************************************/
*{padding:0px;margin:0px}
li{list-style:none;}
a{text-decoration:none;}
.midd{width:1329px;margin:0 auto}
.f12{font-size:12px}
a{color:#000}
.active{background:#333;color:#fff}
/**********************************header*****************************/
.header{width:100%;height:$topheight;}
.logo{width:$topwidth;height:$topheight;background:$logo;float:left}
.header-nav{height:100%;width:$navWidth;float:left;}
.header-nav ul{overflow:hidden;margin-top:59px}
.header-nav ul li{width:$navliWidth;text-align:center;float:left;font-size:$font-size;}
.header-nav ul li:hover{color:$navColor;cursor:pointer}
.header-right{width:$topRight;height:100%;float:right}
.help-information{width:220px;height:50px;float:right;display:table;}
.help-information ul{overflow:hidden;display:table-cell;vertical-align:middle;}
.help-information li{float:left;color:$greencolor;margin:0 5px;font-size:$font-size;font-weight:$font-weight;display:table-cell;vertical-align:middle;}
.help-information li div{width:4px;height:4px;border-radius:50%;background:$greencolor;margin:0 auto;display:inline-block}
.header-right .search{width:240px;height:37px;float:right;border-bottom:2px solid #555}
.header-right .search input{float:left}
.header-right .search input[type="text"]{width:210px;height:35px;border:none;outline:none}
.header-right .search input[type="button"]{width:25px;height:35px;border:none;outline:none;background:url("../img/magnify.png") no-repeat center center}
.produce:after{content:"";width:0;height:0;border-style:solid;border-width:4px 4px 0px 4px;border-color:#666666 transparent transparent transparent;position:relative;top:8px;margin-left:5px}
/********************************banner******************************/
 .banner{height:532px;width:100%;}
 .bannerbox{width:$width;overflow:hidden}
 .bannerbox ol li{background:$spotcolor;border:1px solid $spotcolor}
 .active{background:$spotcolor2!important}
 .bannerbox{overflow:hidden;}
 .left{background:url("../img/left.png") no-repeat center;}
 .right{background:url("../img/right.png") no-repeat center;}
/********************************imglist******************************/
.imglist{width:$width;height:266px;padding:10px 0px}
.youkuvideo{width:429px;height:100%;float:left}
.boximg1{width:450px;height:100%;float:left;margin:0 10px}
.boximg2{width:429px;height:100%;float:left}
.boximg1 img{width:450px;height:100%}
.boximg2 img{width:429px;height:100%}
/********************************movie******************************/
.movie{width:$width;height:408px;background:#dadada;padding-top:50px}
.movie h2{font-size:34px;font-weight:900;text-align:center;line-height:36px;margin-bottom:35px}
.video{width:330px;height:180px;margin:0 auto;position:relative;}
.video span{display:inline-block;width:40px;height:40px;position:absolute;left:0px;right:0;top:0;bottom:0;margin:auto}
.videoimg{width:330px;height:180px}
.video span img{width:40px;height:40px}
.shadow{position:absolute;left:0;top:0;width:330px;height:180px;background:rgba(0,0,0,0.6)}
.welcome{height:41px;width:200px;border:2px solid #000;text-align:center;margin:0 auto;line-height:41px;margin-top:40px;font-size:12px;font-weight:600}
/********************************shoplist******************************/
.shoplist{width:1259px;height:482px;padding:$padding;background:#bbc5ac;margin:10px 0 0 0;overflow:hidden;position:relative}
.shoplist h2{width:100%;height:36px;text-align:center;font-weight:900;font-size:40px;margin-bottom:40px}
.shoplist h2 a{color:#000}
.shoplist-list{width:1300px;height:325px;}
.shoplist-list dl{width:185px;height:324px;float:left;margin-right:30px;text-align:center}
.shoplist-list dt{width:185px;height:220px;text-align:center}
.shopimg{width:100px;height:200px}
.shoplist-list .shopText{width:186px;height:35px;text-align:center;font-weight:$font-weight;}
.buybutton{width:112px;height:41px;border:2px solid #000;text-align:center;display:inline-block;line-height:41px;margin-top:10px;font-size:12px;font-weight:600}
.allphone{width:161px;height:41px;position:absolute;bottom:20px;left:545px;border:2px solid #000;text-align:center;line-height:41px;font-size:12px;font-weight:600}
/*****************************************footer*******************************************/
.footer{width:100%;height:25px;background:#dadada;position:relative;}
.footer-main{position:absolute;top:0px;left:0px}
.footer-top{width:100%;height:25px;background:#dadada;}
.footer-left{width:611px;height:25px;float:left;
      div{
      float:left
      }
 }
 .footer-left span{float:left;line-height:25px}
 .china{line-height:25px;padding-left:40px;padding-right:20px;}
 .globalicon{padding-left:20px;padding-right:50px;margin-top:3px;}
 .companytext{line-height:25px}
.footer-middle{width:40px;height:22px;float:left;background:url("../img/up-down.png") no-repeat left center;cursor:pointer}
.footer-right{width:611px;float:right;}
.footer-right-last{width:111px;height:25px;float:right}
.beian{width:500px;line-height:25px;padding:0 20px 0 100px}
.pot{margin-top:10px;overflow:hidden;float:left;
     .dot{width:5px;height:5px;border-radius:50%;border:1px solid #555;float:left;background:#555555;margin:0 5px;}
  }
 .link{float:left;line-height:25px}
 .link a{color:#555;}
.footer-bottom{width:1239px;height:342px;padding:40px 45px 30px 45px;background:#333;display:none}
.footer-bottom a{color:#fff}
.footer-bottom-link{width:855px;height:342px;float:left}
.link-cols1{float:left;width:200px;height:342px}
.link-cols1 div{color:#fff;font-size:12px;font-weight:600}
.footer-legal{width:359px;height:140px;float:left}
.link-cols1>ul>li{margin-bottom:20px}
.link-cols1>ul>li>ul>li{margin:10px 0}
.link-cols2{
    @extend .link-cols1;
}
.link-cols3{float:left;
    @extend .link-cols1;
}
.link-cols4{
    @extend .link-cols1;
}
.footer-legal p{color:#fff;margin-top:20px}
.footer-legal ul li{margin:10px 0}
/****************遮罩层***************************************************/
#mainShadow{width:100%;height:100%;position:absolute;left:0px;top:0px;background:black;opacity:0.5;filter:alpha(opacity=50);z-index:10;}
