@charset "utf-8";
//变量
$topheight:100px;
$topwidth:120px;
$logo:url("../img/htc-logo.png") no-repeat center 48px;
$navWidth:873px;
$navColor:#a5cf4c;
$navliWidth:145px;
$font-size:12px;
$topRight:240px;
$greencolor:#A5CF4C;
$font-weight:600;
$spotcolor:#fff;
$spotcolor2:rgba(0,0,0,0.8);
$width:1329px;
$margin:10px;
$padding:40px 35px;
$navbgcolor:#333;
/*********************************common***************************************/
*{padding:0px;margin:0px}
li{list-style:none;}
a{text-decoration:none;}
.midd{width:1329px;margin:0 auto}
.midd2{width:1140px;margin:0 auto}
.f12{font-size:12px}
a{color:#000}
.active{background:#333;color:#fff}
:root{background:#f4f4f4}

/**********************************header*****************************/
.header{width:100%;height:$topheight;position:relative;background:#fff}
.logo{width:$topwidth;height:$topheight;background:$logo;float:left}
.header-nav{height:100%;width:$navWidth;float:left;}
.header-nav ul{overflow:hidden;height:100px;}
.header-nav ul li{width:$navliWidth;text-align:center;float:left;font-size:$font-size;padding-top:59px;padding-bottom:28px}
.header-nav ul li:hover{color:$navColor;cursor:pointer}
.header-right{width:$topRight;height:100%;float:right}
.help-information{width:270px;height:50px;float:right;display:table;}
.help-information ul{overflow:hidden;display:table-cell;vertical-align:middle;}
.help-information li{float:left;color:$greencolor;margin:0 5px;font-size:$font-size;font-weight:$font-weight;display:table-cell;vertical-align:middle;}
.help-information li div{width:4px;height:4px;border-radius:50%;background:$greencolor;margin:0 auto;display:inline-block}
.header-right .search{width:240px;height:37px;float:right;border-bottom:2px solid #555}
.header-right .search input{float:left}
.header-right .search input[type="text"]{width:210px;height:35px;border:none;outline:none}
.header-right .search input[type="button"]{width:25px;height:35px;border:none;outline:none;background:url("../img/magnify.png") no-repeat center center}
.produce:after{content:"";width:0;height:0;border-style:solid;border-width:4px 4px 0px 4px;border-color:#666666 transparent transparent transparent;position:relative;top:8px;margin-left:5px;}
.produce:hover:after{content:"";width:0;height:0;border-style:solid;border-width:0px 4px 4px 4px;border-color: transparent transparent #a5cf4c transparent;position:relative;top:0px;margin-left:5px;}
.produce:hover{background:#F4F4F4;}
/*****************************************nav***********************************/
.navbox{position:relative;height:40px;width:100%;}
.nav{height:40px;width:100%;background:$navbgcolor;position:absolute;z-index:20}
.nav .firstUl{margin-left:160px}
.nav .firstUl>li{
    float:left;
   
}

.nav .firstUl>li>a{color:#fff;height:40px;display:inline-block;line-height:40px;padding:0px 15px;font-size:14px;border-radius:20px;transition:all 1s}
/***************************************右悬浮框*********************************/
.right-fix{width:48px;height:364px;position:fixed;right:0px;top:42px;z-index:11;display:none}
.right-fix li{width:48px;height:48px;background:url(../img/bg-dot-black-light.png) repeat;margin-bottom:5px;border-radius:5px;text-align:center;line-height:48px;position:relative;}
.right-fix li i{font-size:25px;color:#fff}
.right-fix li a{display:inline-block;width:48px;height:48px;border-radius:5px;}
.right-fix li a:hover{background-color:rgba(165,207,76,0.7)}
.gouwucard{position:absolute;width:0px;height:70px;background:#fff;z-index:12;top:0;right:50px;overflow:hidden;}
.gouwu:before{content:"";display:inline-block;position:absolute;left:0px;top:15px;z-index:12;border-style:solid;border-width:5px 0px 5px 5px;border-color:transparent transparent transparent #a5cf4c;}
.gouwucard p{width:250px;height:50px;margin:0px 25px;border-bottom:1px solid #F4F4F4;font-size:12px}
.totalgoods{float:left;padding-left:20px}
.totalgoods b{font-style:normal;color:#a5cf4c;font-size:16px;}
.totalprice {float:right;padding-right:20px;margin-top:2px}
.totalprice b{font-style:normal;}
.liulanCard{position:absolute;right:50px;top:0px;width:0px;height:50px;background:#fff;overflow:hidden;}
.liulan:before{content:"";display:inline-block;position:absolute;left:0px;top:15px;border-style:solid;border-width:5px 0px 5px 5px;border-color:transparent  transparent transparent #a5cf4c;}
.liulanCard p{font-size:12px}
/**********************************下拉框**************************************/
.card{position:absolute;width:100%;height:315px;background:#F4F4F4;z-index:21;left:0px;top:100px;padding:0px 75px;display:none}
.card ul{width:182px;height:225px;margin:30px 5px;padding-top:30px;float:left;}
.card ul li{height:50px;width:182px;text-align:right}
.card ul li a{font-size:16px;color:#a5cf4c;font-weight:600;}
.card dl{float:left;width:187px;height:236px;margin-top:60px;margin-left:20px}
.card dt{width:177px;height:170px;
    img {width:177px;height:170px}
    }
.card  dd{font-size:12px;font-weight:600;text-align:center;margin-top:20px;
   p{font-style:oblique;font-weight:normal;color:#a5cf4c;}}

/****************************************nav 下拉框**********************************/
.allphone{position:relative;transition:all 1s}
.allphoneCard{width:704px;height:292px;position:absolute;top:40px;left:0px;z-index:5;background:#fff;padding-left:20px;display:none}
.allphoneCard:before{content:"";position:absolute;display:inline-block;top:-7px;left:5px;border-style:solid;border-width:0px 7px 7px 7px;border-color:transparent transparent #fff transparent;}
.firstLi{width:683px;height:34px;font-size:12px;padding:10px;line-height:34px;border-bottom:1px solid #f4f4f4}
.firstLi a{color:#CD0A0A!important;}
.secondUl li{float:left;width:156px;height:215px}
.secondUl li span{display:inline-block;width:156px;height:173px}
.secondUl li img{width:156px;height:173px}
.secondUl li p{text-align:left;font-size:12px;width:126px;line-height:20px;padding:10px 0px 10px 30px;font-weight:600;position:relative}
.secondUl li p:before{content:"";display:inline-block;position:absolute;left:20px;top:15px;border-style:solid;border-width:5px 0px 5px 5px;border-color:transparent  transparent transparent #666666;}
.act{background:#f4f4f4;border-bottom:1px solid #a5cf4c}
.secondUl li p:hover{background:#f4f4f4;border-bottom:1px solid #a5cf4c}
.allphone{height:40px;display:inline-block;line-height:40px;padding:0px 15px;font-size:14px;border-radius:20px}
.parts{position:relative;border-radius:20px;transition:all 1s}
.partLi{width:510px;height:34px;font-size:12px;padding:10px;line-height:34px;border-bottom:1px solid #f4f4f4}
.partsCard{width:530px;height:320px;background:#fff;position:absolute;top:40px;left:-500px;z-index:4;padding-left:20px;display:none}
.partsCard:before{content:"";position:absolute;display:inline-block;top:-7px;left:520px;border-style:solid;border-width:0px 7px 7px 7px;border-color:transparent transparent #fff transparent;}
.partLi a{color:#CD0A0A!important;}
.partslist li{width:163px;height:243px;float:left;padding:5px;margin-top:10px}
.partslist li span{width:163px;height:181px;}
.partslist li img{width:163px;height:181px;}
.partslist li p:before{content:"";display:inline-block;position:absolute;left:10px;top:15px;border-style:solid;border-width:5px 0px 5px 5px;border-color:transparent  transparent transparent #666666;}
.partslist li p{text-align:left;font-size:12px;width:108px;line-height:20px;font-weight:600;position:relative;padding:10px 25px 10px 30px;}
/******************************************分类******************************/
.first{height:50px;width:100%;background:#fff;overflow:hidden;border-bottom:1px solid #f4f4f4}
.first dl{height:50px;float:left}
.first dd{float:left;width:150px;height:50px;line-height:50px;margin:0px 10px}
.first span{height:50px;width:100px;float:left;text-align:center;line-height:50px}
.second{height:50px;width:100%;background:#fff;overflow:hidden;border-bottom:1px solid #f4f4f4}
.second dl{height:50px;float:left}
.second dd{float:left;width:150px;height:50px;line-height:50px;margin:0px 10px}
.second span{height:50px;width:100px;float:left;text-align:center;line-height:50px}
.third {@extend .first}
.commend{width:100%;padding:20px;overflow: hidden;}
.commend span{display:inline-block;width:100px;height:30px;float:left;line-height:30px;text-align:center}
.jiage{cursor:pointer}
.jiage i{font-size:15px;color:#C20005;}
.search{float:right;padding-right:30px}
/*****************************goods******************************/
.goods{}
.goods ul{overflow:hidden}
.goods ul li{width:275px;height:400px;background:#fff;float:left;margin:0px 10px 10px 0px}
.goods ul li img{width:200px;height:200px;margin:30px 37.5px 16px 37.5px;}
.name{width:100%;text-align:center;font-size:12px}
.aloneprice{width:100%;text-align:center;font-size:14px;color:#C20005}
.minkuang{width:100%;height:50px;text-align:center;margin-top:20px}
.minkuang span{display:inline-block;height:50px;width:50px;border:1px solid #999999}
.minkuang span img{height:50px!important;width:50px!important;margin:0px!important;}
/*************************************tubiao****************************************/
.icon{width:100%;height:184px;padding:50px 0px;}
.icon-main h4{font-size:14px;color:#666;font-weight:normal}
.icon-main .oul{height:168px;width:100%;padding-top:40px;}
.icon-main dl{float:left}
.icon-main dt{width:285px;height:100px;text-align:center}
.icon-main dd{width:100%;text-align:center;font-size:14px;margin-top:10px}
/*******************************************footer*****************************************/
.footer{background:#f3f3f3;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.footer .midd2{overflow: hidden;margin-bottom:40px}
.footer-link1{width:25%;float:left;}
.footer-link1 h3{padding:10px 0;margin:20px 0px 10px 0px;color:#78828D}
.footer-link1 li{font-size:14px;margin-bottom:8px;margin-left:5px;} 
.footer-link1 li a{color:#78828D}
.footer-link2{
    @extend .footer-link1
}
.footer-link3{
    @extend .footer-link1
}
.footer-link4{width:25%;float:left;
    h3{padding:10px 0;margin:20px 0px 10px 0px;color:#78828D};
  
}
.footer-link4  p{margin-top:20px;border-top:1px solid #dfdfdf;
font-size:14px;height:22px;line-height:22px;
  a{color:#78828D;}}
.footer-contact{width:100%;background:#333;padding:10px 0px;text-align:center;
   p{
     font-size:18px;color:#fff; 
       a{color:#69b40f}   
   }
   }
   
.hidefooter{min-height:85px;}   
.hide-top{height:62px;background:#F4F4F4;padding-top:23px;position:relative;}

//hide-footer
.footer-bottom{width:100%;height:342px;padding:40px 45px 30px 45px;background:#333;display:none}
.footer-bottom a{color:#fff}
.footer-bottom-link{width:855px;height:342px;float:left}
.link-cols1{float:left;width:200px;height:342px}
.link-cols1 div{color:#fff;font-size:12px;font-weight:600}
.footer-legal{width:359px;height:140px;float:left}
.link-cols1>ul>li{margin-bottom:20px}
.link-cols1>ul>li>ul>li{margin:10px 0}
.link-cols2{
    @extend .link-cols1;
}
.link-cols3{float:left;
    @extend .link-cols1;
}
.link-cols4{
    @extend .link-cols1;
}
.footer-legal p{color:#fff;margin-top:20px}
.footer-legal ul li{margin:10px 0}
//hide-top-left
.hide-top-left{width:65px;height:38px;margin-left:45px;float:left}

.hide-top-left li{width:10px;height:10px;border-radius:50%;background:#333;margin:5px;float:left;}
.hide-top-middle{width:40px;height:40px;background:url(../img/up-down.png) #fff no-repeat left center;float:left;border:2px solid #fff;border-radius:50%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;margin:auto}
.hide-top-right{float:right;margin-top:10px;
    p{font-size:14px;border-right:1px solid #333333;padding:0 10px;float:left;}
    span{display:inline-block;width:20px;height:18px;float:left;padding:0 45px 0 10px}
}

